:root {
  --botones-hover: #FF00BF;
  --Fondo-footer: #333447
  --Título-formulario: #352384
  --Texto-formulario: #728099
  --Gradiente: linear-gradient(#76278F, #2B1E66);
  --font: 'Montserrat', sans-serif;
}

